h1 {
    color: red;
}
p {
    font-family: sans-serif;
    font-size: 18px;
}
.bold-list li {
    font-weight: normal;
}

.bold-list input[type="checkbox"]:checked + span {
    text-decoration: line-through;
}